@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$oxfordBlue: #0f1630;

* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  // height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1320px;
  margin: auto;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham7 .top {
  stroke-dasharray: 40 82;
}
.ham7 .middle {
  stroke-dasharray: 40 111;
}
.ham7 .bottom {
  stroke-dasharray: 40 161;
}
.ham7.active .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}
.ham7.active .middle {
  stroke-dashoffset: 23px;
}
.ham7.active .bottom {
  stroke-dashoffset: -83px;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: $oxfordBlue;
  text-align: center;
  padding-bottom: 3rem;
}

@media screen and (max-width: 769px) {
  .hide-md {
    display: none !important;
  }
}

@media screen and (min-width: 769px) {
  .hide-sm {
    display: none !important;
  }
}
